<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
<h1 class="text-center col-md-12 col-xs-12 ribbontitle">k!arnival</h1>
<p>
Kurukshetra'16  has a place for one and all. Exploring the fun side of technology is an experience one should never miss. 
</p>
<p>
k!arnival brings to you exactly that.
</p>
<p>
» It takes the stress off you without wasting time! 
</p>
<p>
» It has absolutely no time limit or schedule! 
</p>
<p>
k!arnival welcomes everyone with an open mind at their convenient time. 
</p>
<p>
Did you think that you have nothing to participate in Kurukshetra? Look again for we may have the k!arnival that sends your brain circuits into a tizzy!
</p>
<p>
<b>So, get your k!arnival on for Kurukshetra 2016!</b>
</p>
</div>
</div>
