<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
<h1 class="text-center col-md-12 col-xs-12 ribbontitle">STUDENT AMBASSADOR PROGRAMME</h1>
<p>
Greetings extroverts! 
</p>
<p>
Do you possess the zeal and zest to enthral your audience with your impressive eloquence skills?
</p>
<p>
Do you have the flair to exhibit your marketing traits?
</p>
<p>
Do you want to be the lucky few to get the first insight of k16 ?
</p>
<p>
Were you waiting for - An opportunity to ameliorate the Leadership qualities, enhance Communication capabilities and better the managerial skills in you. 
Then this is the stage open to you... 
</p>
<p>
Join in as OUR student ambassador and enlighten your friends about the plethora of events, workshops, exhibitions and guest lectures of Kurukshetra 2016 to your friends at your respective colleges.
</p>
<p>
As our k16 Student Ambassador you get to meet and interact with our elite clique of corporate ambassadors. 
Prove your mettle and walk away with our K16 kit, t shirt, free online registrations, entry to workshops and many more 
Excel amongst the rest and win exciting prizes every week!!
</p>
<p>
The past Student Ambassadors have proved their skills and have stood as leaders in their institutions everywhere.
</p>
<p>
<b>It's your chance now..</b>
</p>
<p> 
Come, Come and Join Us today and stand as Leaders of tomorrow!!
</p>
<p>
Stay tuned - registrations opening shortly
</p>
</div>
</div>
