<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
<h1 class="text-center col-md-12 col-xs-12 ribbontitle">XCEED</h1>
<p>
Are geographical demarcations stopping you from participating in Kurukshetra? Feeling left out from taking part in the Battle of Brains? Fret not! XCEED is here at your doorstep.
XCEED, initiated in 2008, is a unique outreach event with all the technical spur of the great gala at k!. Be it state-of-the-art workshops that enlighten the students on cutting edge technologies, or events that nurture the grey matter of the participants, or other online events, XCEED gives it all to you at your hometown.
So, what is stopping you from being a soldier in this battlefield? Gear up to fight it out with the engineering community throughout the country and beyond
</p>
<p class="text-center">	 <b>Xceed's Coming soon!</b> </p>
<br>
	</div>
</div>
