<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
	<p>
Kurukshetra has a place for all. Learning about the fun side of technology is an experience we would never leave out. k!arnival brings to you exactly that. It takes the pressure off you without wasting your time! There’s no time limits or schedules, so k!arnival welcomes everyone with an open mind at their convenient time. If you find no reason to participate in Kurukshera, look again, we have a k!arnival that might be just for you.
</p>
<p class="text-center">	 <b>Get Ready for k!arnival 2016!</b> </p>
<br>
	</div>
</div>
