<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
<h1 class="text-center col-md-12 col-xs-12 ribbontitle">STUDENT AMBASSADOR PROGRAMME</h1>
<p>
Greetings extroverts,
</p>
 <p>
Do you posses the knack and zeal to thrive with your impressive speaking skills?
Are you interested in portraying your eloquent marketing skills and enlighten your friends about the plethora of events, workshops, exhibitions and guest lectures of Kurukshetra 2016 to your college buddies?
</p>
<p>
Want to be one among the few lucky who gets the first insights about k!16?
This is a promising opportunity to ameliorate your leadership skills, enhance your communication capability and build your managerial skills. Also, you'd get a chance to interact with our elite clique of corporate ambassadors.
</p>
<p>
Well then, here is an opportunity to be our ambassador at your campus.
What's the good news is that you'll be receiving all kinds of perks.
</p>
<p>
Yes, become our Student Ambassador and prove your mettle to get our kits, T-shirts, bags, free onsite registration, free workshops and above all these, the best ambassadors every week will get exciting prizes based on their individual track record.
</p>
<p>
The future is built on what you do today. This is evident from the Student Ambassadors we have had so far, who are all leaders in their respective institutions today.
Now that you have all the reasons, come join us!
</p>
<p class="text-center">	 <b>Stay tuned because registrations will open soon!</b> </p>
</div>
</div>
