<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 '
	style="font-family:'Open Sans'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8 ;background:rgba(0,0,0,0.15);"><br>
<h1 class="text-center col-md-12 col-xs-12 ribbontitle">GUEST LECTURES</h1>
<p>
Kurukshetra and Guest Lectures go hand-in-hand. These lectures are a portal for all the knowledge-seekers to meet some of the visionaries of today's world and widen the horizon of one's perspective.
</p>
<p>
Kurukshetra 2016 promises a stellar assortment of the best minds in its 10th edition. So, don't miss this opportunity to participate and absorb the growth of innovative and revolutionary ideas and become a witness to the real-time demonstrations unfolding right before your eyes!
</p>
<p class="text-center">The list of k!16 Guest Lectures will be updated soon.</p>
	</div>
</div>
