<div class='container paddingReset'>
	<div class='col-md-push-3 col-xs-12 text-center'
	style="font-family:'Orbitron'; font-size:2.5rem; color:#fff; margin-top:100px;line-height:1.8">
	<p>
Guest Lectures have always been an integral part of Kurukshetra. These lectures are a portal for the knowledge-seeking to access the true visionaries of our time and to widen their scope of thought. Witness the growth of revolutionary ideas, real-time demonstrations, and interact with the stalwarts.
</p>
<p>	 <b>Coming soon!</b> </p>
	</div>
</div>
