<!--put components here -->
<div ng-controller="contactsController">
<div class="container col-md-12 col-xs-12 paddingReset clearfix">
  <h1 class="ribbontitle col-md-12 col-xs-12 text-center">CONTACT US</h1>
<ul class="contactContainer col-md-12 col-xs-12 clearfix paddingReset">
  <li id="bucket.id" class="bucketBox" ng-repeat="bucket in buckets|  orderObjectBy:'team_id':true" ng-click="getBucket(bucket.name,bucket.id)">
    <div class="bucketCircle col-md-4 col-xs-12 ">
    <img src="images/contact_day.png" class="contactCircle"/>
      <h5 class="bucketName">{{bucket.name}}</h5>
    </div>
  </li>
</ul>
</div>

<div class="left container col-md-12 col-xs-12" style="background:rgba(0,0,0,0.85); padding-bottom:40px">
    <h4 class='col-md-12 col-xs-12 ribbontitle text-center' style="font-family:Orbitron;font-size:35px;">{{bucketname}}</h4>
    <h5 class='text-center col-md-12 ribbontitle col-xs-12' style="font-family:Orbitron;font-size:20px; margin-bottom:15px">{{bucketemail}}</h5>
           <i class="close fa fa-times fa-4x fa-fw" style="margin-top:-6%;color:#fff;"></i>
  
    <div class="container paddingReset col-md-12 col-xs-12 {{push}}">
          <div class="col-md-2 col-xs-12" ng-repeat="member in members">
          <div class="ih-item circle colored effect1">
           <!-- <a href="#"> -->
              <div class="spinner"></div>
              <div class="img"><img src="http://cms.kurukshetra.org.in{{member.avatar}}" alt="img"/></div>
              <div class="info">
                <p>{{member.name}}</p>
                <p>{{member.phone}}</p>
              </div>
            <!-- </a> -->
          </div>
        </div>
    </div>
  </div>
</div><!-- overlay -->
</div>
</div><!--controller-->
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#contact").addClass("selectedNavElem");
$("#contact").parent().parent().addClass("removeBB");
});
</script>