     <!--Gl starts here-->
  <div class="paddingReset col-md-12 col-xs-12 container" ng-controller="glController">
  <h1 class="paddingReset ribbontitle text-center">GUEST LECTURES</h1>
</div>
<div class="container glContainer col-md-12 col-xs-12 paddingReset clearfix" >
    <div class="glAnim col-md-2 col-xs-12" ng-repeat="nodeItem in nodes|  orderObjectBy:'title':false">
      <div class="item paddingReset">
        <div class="anno scrim">
          <img ng-click="clicked(nodeItem.title,nodeItem.id)" class="glCircle" src="{{nodeItem.avatar}}" id="{{nodeItem.id}}">
          <h4 class="glCircleName" ng-bind-html="nodeItem.title"><br/>
            <!-- <span style="font-size:1.3rem" ng-bind-html="nodeItem.desc"></span> -->
          </h4>
        </div>
      </div>
  </div><!--long-line -->
<!--content-->
</div>
<div class="row">
<div class="contactsAnim container col-md-6 col-md-push-3 col-xs-12">
  <div class="glbox col-md-12 col-xs-12">
    <div class="glbottom1 hidden-xs"></div>
    <div class="glbottom2 hidden-xs"></div>
    <div class="glpage1 glpageanim1 col-md-12 col-xs-12 paddingReset clearfix">
      <div class="col-md-2 col-xs-2">
        <h4 class="redribbon">{{date}} at {{Time}} in {{venue}}</h4>
      </div>
      <div class="col-md-3 col-md-push-3 col-xs-12 col-xs-push-4">
          <img src="images/ceg.jpg"/>
      <h4 class="glName col-md-pull-1 col-md-12" style="font-size:2rem;font-family:'Raleway',sans-serif;text-align:center;margin-left:-5px">{{clickedName}}</h4>
      </div>
      <div class="glcontent col-md-12 col-xs-12" ng-bind-html="about">
      </div>
      <div class="next"><i class="fa fa-angle-right"></i> The Talk</div>
    </div>
<div class="glpage2">
      <div class="col-md-2">
        <h4 class="redribbon">{{date}} at {{Time}} in {{venue}}</h4>
      </div>
      <div class="col-md-2 col-md-push-3 col-xs-12 col-xs-push-3">
          <img src="images/gplay.png"/>
          <h4 class="glName" style="font-size:2rem;font-family:'Raleway',sans-serif">{{clickedName}}</h4>
      </div>
      <!-- <h4 class="ribbontitle">{{clickedName}}</h4> -->
      <div class="glcontent col-md-12 col-xs-12" ng-bind-html="desc">
    </div>
    <div class="prev"><i class="fa fa-angle-left"></i> The Speaker</div>
    </div>

  </div>
</div>
</div>
<script>
$(document).ready(function() {
    $(".next").click(function(){
      $(".glpage1").addClass("glpageanim1");
      $(".glpage2").addClass("glpageanim2");
    });

    $(".prev").click(function(){
      $(".glpage1").removeClass("glpageanim1");
      $(".glpage2").removeClass("glpageanim2");
    });
});

</script>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#gl").addClass("selectedNavElem");
$("#gl").parent().parent().addClass("removeBB");
});
</script>