     <!--Gl starts here-->
<h1 class="paddingReset ribbontitle text-center col-md-12 col-xs-12">GUEST LECTURES</h1>
<div class="container glContainer col-md-12 col-xs-12 paddingReset owl-theme owl-carousel" id = "owl-example">
      <div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/ceg.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
          </h4>
        </div>
      </div>
      <div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/patterns/redkarnival.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
            </h4>
        </div>
      </div><div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/ceg.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
            </h4>
        </div>
      </div><div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/ceg.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
            </h4>
        </div>
      </div><div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/ceg.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
            </h4>
        </div>
      </div><div class="item paddingReset">
        <div class="anno scrim">
          <img class="glCircle" src="images/patterns/redkarnival.jpg"/>
          <h4 class="glCircleName text-center">Venkatakrishnan Ranganathan <br/>
            <span style="font-size:12px">Head of Social Media and Workplace Re-imagination Practice, TCS</span>
            </h4>
        </div>
      </div>
<!--content-->
</div>
<div class="row">
<div class="container col-md-6 col-md-push-3 col-xs-12">
  <div class="glbox col-md-12 col-xs-12">
    <div class="glbottom1 hidden-xs"></div>
    <div class="glbottom2 hidden-xs"></div>
    <div class="glpage1 col-md-12 col-xs-12 paddingReset clearfix">
      <div class="col-md-2">
        <h4 class="redribbon">21st December 2015 Turing Hall</h4>
      </div>
      <div class="col-md-2 col-md-push-3 col-xs-6 col-xs-push-4">
          <img src="images/ceg.jpg"/>
      </div>
      <div class="glcontent col-md-12 col-xs-12">
      <p>Page 1 Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...</p>
      <p>Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
      </p>
            <p>Page 1 Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...</p>
      <p>Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
      </p>

      <div class="next"><i class="fa fa-angle-right"></i> The Talk</div>
    </div>
    </div>
<div class="glpage2">
      <div class="col-md-2">
        <h4 class="redribbon">20.65st December 2015 Turing Hall</h4>
      </div>
      <div class="col-md-2 col-md-push-3 col-xs-6 col-xs-push-3">
          <img src="images/ceg.jpg"/>
      </div>
      <div class="glcontent col-md-12 col-xs-12">
      <p>page 2 Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...Lorem ipsum stuff about our speaker...</p>
      <p>Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
        Lorem ipsum stuff about our speaker...
      </p>
      <div class="prev"><i class="fa fa-angle-left"></i> The Speaker</div>
    </div>
    </div>

  </div>
</div>
</div>
<script>
$(document).ready(function() {
    var $ = jQuery.noConflict();
    $("#owl-example").owlCarousel({
        items:4,
        autoPlay:true,
        autoplayHoverPause:true,
        navigation:false
    });
    $(".next").click(function(){
      $(".glpage1").addClass("glpageanim1");
      $(".glpage2").addClass("glpageanim2");
    });

    $(".prev").click(function(){
      $(".glpage1").removeClass("glpageanim1");
      $(".glpage2").removeClass("glpageanim2");
    });
});

</script>