<style>
.flipY{
  -webkit-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transition:transform 0.6s linear;
  -moz-transition:transform 0.6s linear;
  transition:transform 0.6s linear;
}
</style>
<!--put components here -->
<div class="container col-md-12 col-xs-12" style="margin-top:50px">

<div class="col-md-4 col-xs-12">
  <div class="col-md-12 col-xs-12 clearfix paddingReset badgeEventsContainer">
    <ul class="col-md-12 col-xs-12 paddingReset">
      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-star"></i>
          <h4 style="color:#fff">STARTUP WEEKEND</h4>
        </li>
      </div>
      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-bullhorn"></i>
          <h4 style="color:#fff">BARKAMP</h4>

        </li>

      </div>
      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-graduation-cap"></i>
          <h4 style="color:#fff">STUDENT AMBASSADOR</h4>
        </li>
      </div>
      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-calendar"></i>
          <h4 style="color:#fff">SCHEDULE</h4>
        </li>
      </div>

      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-quote-right"></i>
          <h4 style="color:#fff">K! BLOG</h4>
        </li>
      </div>

      <div class="col-md-4 col-xs-6 ">
        <li class="badgeEvent ">
          <i class="fa fa-tag"></i>
          <h4 style="color:#fff">LASER TAG</h4>
        </li>
      </div>
    </ul>
  </div>
</div>

 
<div class="jarvisContainer col-md-5 col-xs-12">
<img src="images/jarvis.png" class="jarvis"/>
    <ul class="allImages">
      <li><img id="1" class="slide" src="images/ceg.jpg"/></li>
      <li><img id="2" class="slide" src="images/patterns/bluekar.jpg"/></li>
      <li><img id="3" class="slide" src="images/patterns/redkarnival.jpg"/></li>
      <li><img id="4" class="slide" src="images/patterns/lightspace.png"/></li>
    </ul>
</div><!--jContainer-->
 <div class="col-md-3 col-xs-12">
      <div class="update-box" ng-controller="updateController">
        <p></p>        
      </div>
  <div class="col-md-12 col-xs-12">
    <ul class="sponsor-box">
      <li><img src="images/ceg.jpg" /></li>
      <li><img src="images/patterns/bluekar.jpg" /></li>
      <li><img src="images/patterns/redkarnival.jpg" /></li>
      <li><img src="images/ceg.jpg" /></li>
      <li><img src="images/patterns/bluekar.jpg" /></li>
      <li><img src="images/patterns/redkarnival.jpg" /></li>
    </ul>
</div>
</div>
</div>

<script>
$(document).ready(function(){
var index = 1;
var tot1 = $(".slide").length;
var tot2 = $(".sponsor-box img").length;
var slide_time_in = 5125*tot1;
var slide_time_out = 4500*tot1;
var spons_time_in = 5125*tot2;
var spons_time_in = 4500*tot2;
 $(".slide").animate({'opacity':"0"},'easeOutBounce');
sliderin();
function sliderin(){
 $(".slide").each(function(i){
      var elem = $(this);
      setTimeout(function(){
        $(elem).animate({'opacity':"1"},2500,'easeInOutSine');
      },i*5000+5000);

          
  });

  setTimeout(sliderout,slide_time_in);
}

function sliderout(){
 $($(".slide").get().reverse()).each(function(i){
      var elem = $(this);
      setTimeout(function(){
        $(elem).animate({'opacity':"0"},2500,'easeInOutSine');
        if( i == 0 )
        $(".biggestHomeCircle").removeClass("leftrad");
      else if( i == 1)
        $(".biggestHomeCircle").removeClass("bottomrad");
     else if( i == 2 )
        $(".biggestHomeCircle").removeClass("rightrad");
      else if( i == 3)
        $(".biggestHomeCircle").removeClass("toprad");
      
      },i*5000+5000);

          
  });

  setTimeout(sliderin,slide_time_out);}
//sponsorin
$(".sponsor-box img").animate({'opacity':"0"},'easeOutBounce');
sponsorin();
function sponsorin()
{
 $(".sponsor-box img").each(function(i){
      var elem = $(this);
      setTimeout(function(){
        $(elem).animate({'opacity':"1"},500,'easeInOutSine');
      },i*1000+1000);
  });
setTimeout(sponsorin,10500);
}
//typed.js
});

</script>

<script>
$(document).ready(function(){
setTimeout(function(){
$(".typed-cursor").css({'font-size':"1.3rem"});
},17500);
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#home").addClass("selectedNavElem");
$("#home").parent().addClass("removeBB");
});
</script>