<style>
</style>
<!--put components here -->
<div ng-controller="homeController">
<div class="container col-md-12 col-xs-12" style="margin-top:50px">
  <div class="col-md-2 col-xs-12">
    <div class="update-box">
      <h5>This is a new update! This is a new update!</h5>
    </div>
  </div>

<div class="jarvisContainer col-md-8 col-md-push-1 col-xs-12">
<img src="images/patterns/red_stars1.jpg" class="jarvis"/>


</div>




<div class="col-md-2 col-xs-12">
  <div class="sponsor-box">
    <img src="images/patterns/bluespace.png" />
  </div>
</div>
</div>

</div>
</div>
