<!--put components here -->
<div ng-controller="hospiController">
<div class="container col-md-12 col-xs-12">
  <h4 class="col-md-12 col-xs-12 text-center ribbontitle">HOSPITALITY</h4>
  <div class="long-line col-md-12 col-xs-12 paddingReset clearfix">
    <div class="longer-line col-md-12 col-xs-12 clearfix"></div>
    <div class=" hospiAnim col-md-2 col-xs-6" ng-repeat="nodeItem in nodes">
      <div class="node" id="{{nodeItem.url}}">
        <i class="{{nodeItem.icon}}"></i>
        <h4 class="btmText left15" style="{{nodeItem.mclass}}">{{nodeItem.title}}</h4>
      </div>
    </div>
  </div><!--long-line -->
</div>

<!--hospi_content -->
<div class="col-md-10 col-md-push-1 col-xs-12 hospiBox">
  <div class="hospi_content">
    <div class="header" style="background:url(images/patterns/lightspace.png)">
      <!--insert pic here -->      
    </div>
    <h3 class="text-center title">INTRODUCTION</h3>
    <div class="hospi_desc">
      <p>Random lorem ipsum Random lorem ipsum Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
        Random lorem ipsum Random lorem ipsum
      </p>
      <p>Random lorem ipsum Random lorem ipsum Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
        Random lorem ipsum Random lorem ipsum
      </p>
      <p>Random lorem ipsum Random lorem ipsum Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
          Random lorem ipsum Random lorem ipsum
        Random lorem ipsum Random lorem ipsum
      </p>
    </div>
  </div>
 </div>
</div>
<script>
$(document).ready(function(){

$(".navbar-toggle").click(function(){
  closeall();
  
});

});

</script>