<!--put components here -->
<div ng-controller="hospiController" class="col-md-12 col-xs-12 paddingReset container">
<div class=" col-md-12 col-xs-12">
  <h4 class="col-md-12 col-xs-12 text-center ribbontitle">HOSPITALITY</h4>
  <div class="long-line col-md-12 col-xs-12 paddingReset clearfix">
    <div class="longer-line col-md-12 col-xs-12 clearfix"></div>
    <div class=" hospiAnim col-md-2 col-xs-6" ng-repeat="nodeItem in nodes">
      <div class="node" id="{{nodeItem.id}}" ng-click="tohospi(nodeItem.title,nodeItem.id)">
        <i class="{{nodeItem.icon}}"></i>
        <h4 class="btmText" style="{{nodeItem.mclass}}">{{nodeItem.title}}</h4>
      </div>
    </div>
  </div><!--long-line -->
</div>

<!--hospi_content -->
<div class="col-md-10 col-md-push-1 col-xs-12 hospiBox container">
  <div class="hospi_content">
    <div class="header" style="background:url(images/patterns/lightspace.png)">
    </div>
 
    <h3 class="text-center title">{{clickedNode}}</h3>
    <div class="hospi_desc" ng-bind-html="nodeData">
      
    </div>
  </div>
 </div>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#hospi").addClass("selectedNavElem");
$("#hospi").parent().parent().addClass("removeBB");
});
</script>