<div class="container karContainer" ng-controller="karnivalController">
    <div class="col-md-12 col-xs-12">
      <h1 class="shape ribbontitle">K!ARNIVAL</h1>
      <ul class="karCircles">
        <div class="col-md-4 col-xs-12" ng-repeat="node in nodes">
          <li ng-click="clicked(node.title,node.id)" class="karCircle" >
            <img src="images/ceg.jpg" />
            <div class="overlayContainer">
              <div class="karTitle"><p>{{node.title}}</p></div>
              <div class="slice slice1"></div>
              <div class="slice slice2"></div>
              <div class="slice slice3"></div>
              <div class="slice slice4"></div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  
<div class="col-md-6 col-md-push-2 col-xs-12 karBox">
  <div class="bottomPage hidden-xs"></div>
  <div class="topPage">
    <i class="fa fa-times closeme fa-2x"></i>
    <div class="karImCircle">
      <img src="images/patterns/congruent_pentagon.png" />
    </div>
    <div class="karDetails">
    <div class="text-center">{{clickedName}}</div>
    <div class="text-center">{{venue}}</div>
    <div class="text-center"><span>{{date}}</span>
        <span>{{Time}}</span>
     </div>
   </div>
    <p ng-bind-html="desc"></p>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#karnival").addClass("selectedNavElem");
$("#karnival").parent().addClass("removeBB");
});
</script>