<div class="col-md-12 col-xs-12">
  <div class="container karContainer first">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-md-push-1 col-xs-12">
          <button style="margin-top:30px" class="btn btn-lg signupbtn">Sign Up for K!16</button>
        </div>
        <div class="col-md-6 col-md-push-1 col-xs-12">
          <button style="margin-top:30px" class="btn btn-lg loginbtn">Login to K!16</button>
        </div>
    </div>
      <div class="col-md-12 col-xs-12 paddingReset clearfix">
      <form name="loginForm" class="card">
      <h1 class=" formtitle ribbontitle col-md-12 col-xs-12 text-center" style="margin-top:-20px">LOGIN</h1>
      <div class="form-details">
        <p></p>
      </div>
      </form>
    </div>
   </div>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#loginNav").find(".circle-icon").addClass("selectedNavElem");
$("#loginNav").addClass("removeBB");
  });
</script>
<script>
        $(document).ready(function(){

          $(".loginbtn").click(function(){
              $(".form-details p").text("");
              $(".card").animate({'opacity':"1"},100);
              typelogin();
              });
          $(".signupbtn").click(function(){
              $(".form-details p").text("");
              $(".card").animate({'opacity':"1"},100);
              typesignup();
              });
         
           function typelogin(){
            $(".formtitle").text("LOGIN TO K!16");
            $(".form-details p").html("<p>I, <input type='text' class='cardtext' placeholder='  swag username'/> am super excited to battle it out with the best at Kurukshetra 2016! Let me just type in my <input type='password' class='cardtext' placeholder='  swag password'/> and I\'ll be ready to roll!</p><p><a>Yikes, I forgot my password.</a></p><p>Remember Me <input type='checkbox' /></p><a class='btn btn-lg btn-success submitme' type='submit'>SIGNUP FOR K!16</button>");
             
          }
             function typesignup(){
            $(".formtitle").text("SIGN UP FOR K!16");
            $(".form-details p").html("<p>I, <input type='text' class='cardtext' placeholder='  swag username'/> am super excited to battle it out with the best at Kurukshetra 2016! Let me just type in my <input type='password' class='cardtext' placeholder='  swag password'/> and I\'ll be ready to roll!</p><p>Let me type my <input type='password' class='cardtext' placeholder='confirm swag password'/> again for luck!</p><p>Remember Me <input type='checkbox' /></p><a class='btn btn-lg btn-success submitme' type='submit'>SIGNUP FOR K!16</button>"); 
          }
        });
        
</script>