  <!--navbar-->
  <div>
<!--navbar for mobile -->
    <nav class="navbar hidden-md hidden-lg hidden-sm" >
      <div class="container-fluid paddingReset">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img src="images/k16.png" style="margin-left:40px;width:25%;height:95px" />
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <div class="sr-only">Toggle navigation</div>
            <div class="icon-bar top-bar"></div>
            <div class="icon-bar middle-bar"></div>
            <div class="icon-bar bottom-bar"></div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="width:104% !important">
           <li>
            <a class="text" href="#/">HOME</a>
            <div class=" hidden-xs topVane">
              <i class="fa fa-home"></i>
            </div>
           </li>
            <li class="hidden-xs">
            <a class="text">EVENTS</a>
            <div class="hidden-xs topVane" id="eVane">
              <i class="fa fa-hourglass"></i>
            </div>
           </li>
           <li class="eventdrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTS <div class="caret"></div></a>
            <ul class="dropdown-menu eventsNavElem">
              <li class="eventCircleNav"><a href="#/events/engineering"><i class="fa fa-gear"></i>
                  <div class="sideText">Engineering</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#/events/robotics"><i class="fa fa-android"></i>
                              <div class="sideText">Robotics</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/online"><i class="fa fa-laptop"></i>
                              <div class="sideText">Online</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/coding"><i class="fa fa-terminal"></i>
                              <div class="sideText">Coding</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/management"><i class="fa fa-money"></i>
                              <div class="sideText">Management</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/general"><i class="fa fa-archive"></i>
                              <div class="sideText">General</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/events/quizzes"><i class="fa fa-puzzle-piece"></i>
                              <div class="sideText">Quizzes</div>
              </a>
                            </li>
            </ul>
          </li>
           <li class='hidden-xs'>
            <a class="text" href="#/workshops">WORKSHOPS</a>
            <div class="hidden-xs topVane" id="wVane">
              <i class="fa fa-wrench"></i>
            </div>
           </li>

           <li class="wkshopdrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WORKSHOPS <div class="caret"></div></a>
            <ul class="dropdown-menu eventsNavElem">
              <li class="eventCircleNav"><a href="#/workshops/engineering"><i class="fa fa-gear"></i>
                  <div class="sideText">Engineering</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#/workshops/robotics"><i class="fa fa-android"></i>
                              <div class="sideText">Robotics</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/management"><i class="fa fa-inr"></i>
                              <div class="sideText">Management</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/general"><i class="fa fa-archive"></i>
                              <div class="sideText">General</div>
                              </a>
                            </li>
              <li class="eventCircleNav"><a href="#/workshops/school"><i class="fa fa-university"></i>
                              <div class="sideText">School</div>
              </a>
                            </li>
            </ul>
          </li>
           <li>
            <a class="text" href="#/xceed">XCEED</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-fighter-jet"></i>
            </div>
           </li>
           <li class="">
            <a class="text" href="#/sponsors">SPONSORS</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-inr"></i>
            </div>
           </li>
           <li class="">
            <a class="text" href="#/gl">GUEST LECTURES</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-microphone"></i>
            </div>
           </li>

           <li class="">
            <a href="#/karnival" class="text">K!ARNIVAL</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-empire"></i>
            </div>
           </li>
           <li class="">
            <a href="#/hospi" class="text">HOSPITALITY</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-map-o"></i>
            </div>
           </li>
           <li class="">
            <a href="#/about" class="text">ABOUT US</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-angellist"></i>
            </div>
           </li>
           <li class="">
            <a href="#/contacts" class="text">CONTACT</a>
            <div class="hidden-xs topVane">
              <i class="fa fa-comment"></i>
            </div>
           </li>
           <li class="smalleritem hidden-xs">
            <a class="text">LOGIN</a>
            <div class="hidden-xs topVane" id="lVane">
              <i class="fa fa-key"></i>
            </div>
           </li>
           <li class="logindrop dropdown hidden-md hidden-lg hidden-sm">
            <a href="#" class="text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN <div class="caret"></div></a>
            <ul class="dropdown-menu loginNavElem">
              <li class="eventCircleNav"><a href="#/profile"><i class="fa fa-gear"></i>
                  <div class="sideText">Profile</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#"><i class="fa fa-facebook"></i>
                  <div class="sideText">FACEBOOK</div>
                  </a>
                </li>
              <li class="eventCircleNav"><a href="#"><i class="fa fa-google"></i>
                  <div class="sideText">Google+</div>
                  </a>
                </li>
           </ul>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="hidden-xs col-md-12 col-xs-12 paddingReset">
<div class="home-event-circles">
<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
  <a href="#/"><i id="home" class="fa fa-home circle-icon"></i>
    <div class="text">HOME</div>
  </a>
  </div>
</div>

<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
  <a href="#/xceed"> <i id="xceed"  class="fa fa-fighter-jet circle-icon"></i>
    <div class="text">XCEED</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
  <a href="#/sponsors"><i id="sponsors" class="fa fa-inr circle-icon" style="margin-left:30px"\></i>
    <div class="text" style="margin-left:-10px">SPONSORS</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
 <div class="home-event-circle">
   <a href="#/gl"><i id="gl" class="fa fa-microphone circle-icon" style="margin-left:28px"\></i>
    <div class="text" style="margin-left:-3px">GUEST LECTURES</div>
    </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
   <a href="#/karnival"><i id="karnival" class="fa fa-empire circle-icon" style="margin-left:23px"\></i>
    <div class="text" style="margin-left:-3px">K!ARNIVAL</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div id="eventNav" class="home-event-circle">
    <i class="fa fa-hourglass circle-icon" style="margin-left:26px"></i>
    <div class="text">EVENTS</div>
    </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div id="wkshopNav" class="home-event-circle " >
    <i class="fa fa-wrench circle-icon"></i>
    <div class="text" style="margin-left:-14px">WORKSHOPS</div>
</div>
</div>

<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
  <a href="#/hospi"><i id="hospi" class="fa fa-map circle-icon"></i>
    <div class="text" style="margin-left:-12.5px">HOSPITALITY</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
 <div class="home-event-circle ">
  <a href="#/about"><i id="gl" class="fa fa-angellist circle-icon" style="margin-left:25px"></i>
    <div class="text" style="margin-left:4px">ABOUT</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div class="home-event-circle ">
  <a href="#/contacts"><i id="contact" class="fa fa-comment-o circle-icon"></i>
    <div class="text">CONTACT</div>
  </a>
  </div>
</div>
<div class="col-md-1 mg-lg col-xs-6">
  <div id="loginNav" class="home-event-circle">
    <i class="fa fa-key circle-icon"></i>
    <div class="text">LOGIN</div>
  </div>
</div>
</div>

   <div class="col-md-12 col-xs-12 eventHeader Header">
   <ul class="eventCats col-md-12 col-xs-12 col-md-push-3">
              <li class="eventCircle">
                <a ng-click="clicked('Engineering')" href="#/events/engineering">
                  <i class="fa fa-gear"></i>
                  <div class="btmText" style="margin-left:-10px">Engineering</div>
                 </a>
              </li>
             <li class="eventCircle">
              <a href="#/events/management">
              <i class="fa fa-money"></i>
                <div class="btmText" style="margin-left:-10px">Management</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/events/robotics">
                <i class="fa fa-android"></i>
                <div class="btmText">Robotics</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/events/general">
                <i class="fa fa-archive"></i>
                <div class="btmText">General</div></a>
              </li>
              <li class="eventCircle">
               <a href="#/events/online">
                <i class="fa fa-laptop"></i>
              <div class="btmText">Online</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/events/coding">
                <i class="fa fa-terminal"></i>
                <div class="btmText">Coding</div></a>
              </li>
              <li class="eventCircle">
               <a href="#/events/quizzes">
                <i class="fa fa-binoculars"></i>
               <div class="btmText">Quizzes</div></a>
              </li>
   </ul>
    <h4 class="headerDesc xs-hidden col-md-7 col-md-push-3">
      <p>
Styled to test your wits and dexterity, k!16 brings to you a mélange of events across various domains and platforms - Engineering, Quizzing, Coding, Online, Management, Robotics and other general events. Battle it out with the mightiest of hearts and geekiest of brains as you make your way to be crowned the winner among the myriads of warriors. 
</p><p class="text-center" style="margin-left:-35px"><b>
May the odds be ever in your favour!</b>
      </p>
      </h4>
   
  </div>

   <div class="col-md-12 col-xs-12 wkshopHeader  Header">
 <!--   <ul class="wkshopCats col-md-12 col-xs-12 col-md-push-3">
              <li class="eventCircle">
               <a href="#/workshops/engineering">
                <i class="fa fa-gear"></i>
               <div class="btmText" style="margin-left:-10px">Engineering</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/workshops/general">
                <i class="fa fa-archive"></i>
                <div class="btmText">General</div></a>
              </li>
             
              <li class="eventCircle">
                <a href="#/workshops/robotics">
                <i class="fa fa-android"></i>
                <div class="btmText">Robotics</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/workshops/management">
                <i class="fa fa-money"></i>
                <div class="btmText" style="margin-left:-10px">Management</div></a>
              </li>
              <li class="eventCircle">
                <a href="#/workshops/school">
                <i class="fa fa-university"></i>
                <div class="btmText">School</div></a>
              </li>
            </ul>
  -->  <h4 class="headerDesc  xs-hidden col-md-7 col-md-push-2">
  <p class="text-center">
    “Tell me and I forget,
  <br/>
Teach me and I may remember,
<br/>
Involve me and I learn.”
<br/>
- Benjamin Franklin
</p>
<p>At Kurukshetra, we strive to induce such involvement &amp; bring to light the inner creator in you. Every year we provide a plethora of workshops in the leading edge of technology. The latest ideas &amp; concepts are brought to life by celebrated veterans in that field. k!16 workshops are the perfect place to build knowledge &amp; hand-on experience.
</p>
<p>
If you possess a childlike curiosity to explore new ideas, turn dreams to reality &amp; make the impossible, possible, k! workshops will be your cup of tea! Join us in our quest for knowledge, to become bearers of the torch of invention &amp; innovation. </p>
   </h4>
   
  </div>

  <!--login header -->
  <div class="col-md-4 col-md-push-6 col-xs-12 loginHeader  Header" >
   <ul class="eventCats col-md-12 col-xs-12 col-md-push-8">
              <li class="eventCircle"><a href="#/profile"><i class="fa fa-user"></i></a>
                  <div class="btmText">Profile</div>
              </li>
             <li class="eventCircle" style="margin-right:20px"><i class="fa fa-facebook"></i>
                <div class="btmText">Facebook</div>
              </li>
              <li class="eventCircle"><i class="fa fa-google"></i>
                <div class="btmText">Google+</div>
              </li>
            </ul>
  </div>
  </div>
  <!--navbar script-->
  <script>
  $(document).ready(function(){
  $(function() {
    $('.nav a').on('click', function(){ 
      var clickedId = $(this).text();
        if( clickedId == "EVENTS " || clickedId == "WORKSHOPS " || clickedId == "LOGIN " )
          return;
        else if($('.navbar-toggle').css('display') !='none'){
            $(".navbar-toggle").trigger( "click" );
        }
    });
});
  $(".navbar-toggle").click(function(){
    $(".top-bar").toggleClass("top-bar-anim");
    $(".middle-bar").toggleClass("middle-bar-anim");
    $(".bottom-bar").toggleClass("bottom-bar-anim");
  });
  if( $(window).width() >= 600)
  { 
    //leave and hide headers
    $(".home-event-circle").mouseenter(function(){
        var cid = $(this).attr("id");
        if( cid == "eventNav")
        {
          hideStuffBelow("event");
        }
        else if( cid == "wkshopNav")
        {
          hideStuffBelow("wkshop");
        }
        else if( cid == "loginNav")
        {
          hideStuffBelow("login");
        }
        else
        {
          hideAllHeaders();
          showStuffBelow();
        }

    });
    //leave and hide headers
    $(".headerBox").mouseenter(function(){
            hideAllHeaders();
            showStuffBelow();
        
    });
    //leave header and show stuff below
    $(".Header").mouseleave(function(){
      hideAllHeaders();
      showStuffBelow();
      $("#eventNav").removeClass("selectedNavElem");
      $("#loginNav").removeClass("selectedNavElem");
      $("#wkshopNav").removeClass("selectedNavElem");

    });
    $(".eventCircle").click(function(){
      hideAllHeaders();
      showStuffBelow();
    });
  function hideStuffBelow(cid)
  { 
    hideAllHeaders();
    var ccid = "."+cid+"Header";
    $(ccid).addClass("dropDown");
    $(".container").children().fadeOut(0).finish();
    $(".cd-tabs").children().fadeOut(0).finish();
    $(".left").fadeOut(10).finish();
  }
  function showStuffBelow()
  {
    $(".container").children().fadeIn();
    $(".cd-tabs").children().fadeIn(); 
    $(".left").fadeIn(10);
  }
  function hideAllHeaders()
  {
        $(".eventHeader").removeClass("dropDown").finish();
        $(".wkshopHeader").removeClass("dropDown").finish();
        $(".loginHeader").removeClass("dropDown").finish();
  }
}
//random page stuff
$(".home-event-circle").find("ul").addClass("hideme").animate({'opacity':"0"});
$(".home-event-circle").click(function(){
  if($(this).find("ul").hasClass("hideme"))
     {
      $(".home-event-circle").find("ul").addClass("hideme").animate({'opacity':"0"},'easeInOutQuad');
      $(this).find("ul").removeClass("hideme").animate({'opacity':"1"},'easeOutQuad');
      }
  else
  { 
    $(this).find("ul").addClass("hideme").animate({'opacity':"0"},'easeInOutQuad');
  }
}); 

  });
  </script>
