<div class="updateController">
	<div class="glContainer container paddingReset clearfix">
		<h1 class="ribbontitle col-md-12 col-xs-12 text-center">
			Hey there, [NAME]
		</h1>
		<div class="profile col-md-6 col-md-push-3 col-xs-12 clearfix">
			<p>I'm <span class="detail">[name]</span> and other
			   profile stuff goes here...
			 </p>
			 <p>I'm <span class="detail">[name]</span> and other
			   profile stuff goes here...
			 </p>
			 <p>I'm <span class="detail">[name]</span> and other
			   profile stuff goes here...
			 </p>
			 <p>I'm <span class="detail">[name]</span> and other
			   profile stuff goes here...
			 </p> 
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#loginNav").find(".circle-icon").addClass("selectedNavElem");
$("#loginNav").addClass("removeBB");
});
</script>