<div class="updateController">
	<div class="glContainer container paddingReset clearfix">
		<h1 class="ribbontitle col-md-12 col-xs-12">
			{{user}} <br>Hey there, <input type="text" style="font-size:4rem; width:auto;" placeholder="[Your Name]" value="{{user.name}}"> </input>
		</h1>
		<div class="profile col-md-8 col-md-push-2 col-xs-12 clearfix">
			<p>  Gender <span class="detail">
				<br/>
			<input name = "gender" type="radio" value="Female" /> <span class="gender">Female</span>
				<br/>
			<input name = "gender" type="radio" value="Male" /> <span class="gender">Male</span>
				<br/>
			<input name = "gender" type="radio" value="Other" /> <span class="gender">Other</span> 
				<br/>
				<br/>
			</span> Email Id<input type="text" placeholder="[email id]" value="{{user.email}}" disabled/>
			 </p>
			 <p> Address<span class="detail"><input type="text" placeholder="[address]"/>City <input type="text" placeholder="[City]"/> State <input type="text" placeholder="[State]"/>Country <input type="text" placeholder="[Country]"/></span> Phone Number<input type="text" placeholder="Phone Number"/>
			 </p>
			 <p>College/School/Working<span class="detail"><input type="text" placeholder="[College student/School student/Working]"/></span> 
			 </p>
			 <p>Year<input type="text" placeholder="[Year]"/>Degree <span class="detail"><input type="text" placeholder="[Degree]"/>Course <input type="text" placeholder="[Course]"/>College <input type="text" placeholder="[College]"/> </span>
			 </p> 
			 <p class="text-center">I'm ready to pit my wits against the best and the craziest minds at Kurukshetra 2016! Give me all you've got!
			 	<br/>
			 <button class="btn btn-success btn-lg">UPDATE</button>
			 </p>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#loginNav").find(".circle-icon").addClass("selectedNavElem");
$("#loginNav").addClass("removeBB");
});
</script>