<style>
.footer{
	top:100px;
}
</style>
<div class="updateController">
	<form method="post" ng-submit="updateProfile()">
	<div class="glContainer container paddingReset clearfix">
		<h1 class="ribbontitle col-md-12 col-xs-12">
	Hey there, <input type="text" style="font-size:4rem; width:auto;" placeholder="[Your Name]" ng-model="user.displayName"> </input>
		</h1>
		<div class="profile col-md-10 col-md-push-1 col-xs-12 clearfix">
			<p>  Gender <span class="detail">
				<br/>
			<input name = "gender" type="radio" value="Female" /> <span class="gender">Female</span>
				<br/>
			<input name = "gender" type="radio" value="Male" /> <span class="gender">Male</span>
				<br/>
			<input name = "gender" type="radio" value="Other" /> <span class="gender">Other</span> 
				<br/>
				<br/>
			</span> Email Id<input type="email" placeholder="[email id]" ng-model="user.email" disabled/>
			 </p>
			 <p> Address<span class="detail"><input type="text" placeholder="[address]" ng-model="user.address"/>City <input type="text" placeholder="[City]" ng-model="user.city"/> State <input type="text" placeholder="[State]" ng-model="user.state"/>Country <input type="text" placeholder="[Country]" ng-model="user.country"/></span> Phone Number<input type="text" placeholder="Phone Number" ng-model="user.contact"/>
			 </p>
			 
			 <p>
			 	Participant Type
			 	<br/>
			 	<input id='student' class="participant" name="student" type="radio" value="college"/><span class="gender">College</span>
			 	<br/>
			 	<input id='school' class="participant" name="student" type="radio" value="school"/><span class="gender">School</span>
			 	<br/>
			 	<input id='working' class="participant" name="student" type="radio" value="working"/><span class="gender">Working</span>
			 	<br/>
			 </p>
			<div class="details student-details">
				 <p>Year<input type="text" placeholder="[Year]"/>Degree <span class="detail"><input type="text" placeholder="[Degree]"/>Course <input type="text" placeholder="[Course]"/>College <input type="text" placeholder="[College]"/> </span>
				 </p>
			</div> 
			<div class="details school-details">
				 <p>School<input type="text" placeholder="[School Name]"/>Grade <span class="detail"><input type="text" placeholder="[Which grade are you in?]"/>
				 </p>
			</div> 
			<div class="details working-details">
				 <p>Company<input type="text" placeholder="[Comapny Name]"/>Designation <span class="detail"><input type="text" placeholder="[Enter your designation]"/>
				 </p>
			</div> 
			 <p class="text-center" style="font-size:2.5rem">I'm ready to pit my wits against the best and the craziest minds at Kurukshetra 2016! Give me all you've got!
			 	<br/>
			 <button class="updatebtn btn btn-success btn-lg">UPDATE</button>
			 </p>
		</div>
	</div>
</form>
</div>
<script>
$(document).ready(function(){
$(".home-event-circle").find(".circle-icon").removeClass("selectedNavElem");
$(".home-event-circle").removeClass("removeBB");
$("#loginNav").find(".circle-icon").addClass("selectedNavElem");
$("#loginNav").addClass("removeBB");
$(".details").fadeOut(0);
$(".participant").click(function(){
	var pid = $(this).attr("id");
	$(".details").fadeOut(0);
	$("."+pid+"-details").fadeIn(100); 
});
});
</script>