/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.customNavigation{
text-align: center;
width:100%;
height:150px;
}
.customNavigation .slide{
	width:25%;
	padding:30px;
	display: inline;
	height:100%;
	background:#5FFF5F;
	border:5px double #fff;
}
.customNavigation .slide:nth-child(even){
	background:#226922;

}
.customNavigation .slide a:nth-child(odd){
	color:#fff;
}

.customNavigation .slide a{
	font-size:1.2em;
	color:#333;
	font-weight: bold;	
	cursor: pointer;
	font-family:'Roboto',sans-serif;
}
.slide:hover, .slide:active{
	cursor: pointer;
	border:5px solid black;
}
/* preloading images */


/* making the fonts responsive */
@media all and (min-width: 960px) {
  .owl-theme .owl-controls .owl-page span p{
        font-size: 15px !important;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
   .owl-theme .owl-controls .owl-page span p{
        font-size: 13px !important;
    }
     .customNavigation{
    	visibility: hidden;
        }
        .announcementContainer{
        	margin-top:-150px;
        }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
  .owl-theme .owl-controls .owl-page span p{
        font-size: 10px !important;
        

    }

     .customNavigation{
    	visibility: hidden;
   
    }

        .announcementContainer{
        	margin-top:-150px;
        }	

}
